# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments and libraries


Lib/
models/
__pycache__/
*.pyc
.venv/
env/
etc/
*.pkl

# Local app/model/output folders
models/
documents/
etc/

# Environment secrets
.env
.env.*

# Logs, cache, temp files
*.log
*.tmp
.history*
.ipynb_checkpoints/

# Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Node-related (if used)
node_modules/
models/
