# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
ragagent/Lib/
ragagent/Scripts/
ragagent/Include/
ragagent/pyvenv.cfg
ragagent/.env
ragagent/share/
ragagent/etc/

# Jupyter, Streamlit, and temp data
share/
etc/
.ipynb_checkpoints/
*.log
*.tmp

# Ignore secrets and environment files
.env
.env.*

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific
documents/
node_modules/
